---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div class="container">
        <nav>
            <a href="{{ site.baseurl }}/">Explore</a>
            <a href="{{ site.baseurl }}/opera_and_music">Opera and Music</a>
            <a href="{{ site.baseurl}}/drama_in_london">Drama in London</a>
        </nav>
    </div>
    
    <div class="container">
       
        {% assign licences = site.data.licences | find:"image-licence", page.image-licence %}
        {% assign writers = site.data.writers | find:"writer", page.writer %}

        <h1>{{ page.title }}</h1>
        <h3>{{ page.writer }}</h3>
        <p>{{ page.short-introduction }}</p>
        <img src="{{ page.image-url }}" width = 500></a>
        <p>The world premiere</p>
    </div>

  </body>